* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

input {
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    background-color: blue;
    color: aliceblue;
    margin: 5px;
    cursor: pointer;
}

.display {
    display: flex;
    justify-content: flex-end;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
}

.equal {
    width: 135px;
}